<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ben & Willie's Financial Stonks Advice</title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="/static/css/home.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

  </head>


<!-- NAV BAR -->



<!-- END NAV BAR -->


  <body>
    {% block main_content %}{% endblock %}
  </body>
  <!-- <nav>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">About</a></li>
      <li><a href="#option1">Option 1</a></li>
      <li><a href="#option2">Option 2</a></li>
    </ul>
  </nav> -->
</html>
